<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>магазин</title>
</head>
<body>

    <div style="display: flex; justify-content: center;">
        <h1>шахматы</h1>
    </div>


    <ul>
        <li>{{ product1.name }} - <button>{{ product1.button }}</button></li>
        <li>{{ product2.name }} - <button>{{ product2.button }}</button></li>
        <li>{{ product3.name }} - <button>{{ product3.button }}</button></li>
    </ul>

    <a href="/">
        <button>На главную</button>
    </a>
</body>
</html>